
div#rdfazerInterface {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: white;
    overflow:hidden;
    z-index:1000;
    text-align:left;
    font-size:12px !important;
    font-family: arial;
}
.ui-front {
    z-index:10000 !important;
}
div#rdfazerInterface.left {
    top: 0;
    left: 0;
    right: auto;
    border-width: 0 2px 0 0;
}
.rdfazerhead {
    position:fixed;
}
.rdfazerhead button {
    position: absolute;
    display: block;
}

.rdfazerhead h1 {
    position: absolute;
    /* Safari */ -webkit-transform: rotate(-90deg);  /* Firefox */ -moz-transform: rotate(-90deg);  /* IE */ -ms-transform: rotate(-90deg);  /* Opera */ -o-transform: rotate(-90deg);  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin: 0;
    padding: 0;
    display: inline-block;
    bottom: 64px;
    left: -35px;
    font-style: italic;
    font-size: 30px;
    color:#333;
}
.rdfazerhead {
    float: left;
    width: 4em;
    height: 100%;
    border: solid black 2px;
    z-index: 9999;
    border-width: 0 1px 0 2px;
    border-style: solid dashed solid solid;
    border-color: black lightgray black black;
    background-color: white;
    font-size:12px;
    right:0px;
    text-align:left;
}
.left .rdfazerhead {
    border-width: 0 2px 0 1px;
    border-style: solid solid solid dashed;
    border-color: black black black lightgray;
}
.left .rdfazerhead, .open .rdfazerhead {
    right:auto;
}
.rdfazerhead button {
    position: relative;
    right: auto;
    height: 29px;
    width: 29px;
    left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: lightgray;
    border-radius: 40px;
    border: solid 0px gray;
    outline: none;
    margin: 4px 0 !important;
    margin-left: 0 !important;
    cursor: hand;
    cursor: pointer;
}
.rdfazerhead button.switch {
    background-image:url("/lib/images/switch.png");
}
.rdfazerhead button.remove {
    background-image:url("/lib/images/close.png");
}
.rdfazerhead button.highlight {
    background-image:url("/lib/images/highlight.png");
}
.rdfazerhead button.open {
    background-image:url("/lib/images/open.png");
}
.rdfazerhead button.save {
    background-image:url("/lib/images/save.png");
}
.rdfazerhead button.settings {
    background-image:url("/lib/images/settings.png");
}
.rdfazercontent {
    margin-left: 4em;
    width: 0px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 !important;
    position:relative;
    text-align:left;
    background-color: white;
    z-index: 100;
}
  
.left .rdfazercontent {
    border-width: 0 1px 0 0;
}
.open .rdfazercontent {
    width:350px;
    padding: 0 0.3em !important;
}
.open.left .rdfazerhead {
    left:345px;
}
.left .rdfazercontent {
    margin-left: 0;
    margin-right: 4em;
}
#rdfazerdialog input.text.ui-widget-content.ui-corner-all {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    position:initial;
}
html {
    position:relative;
}
.highlightTag {
    background-color: lightblue;
    padding: 0 0.3em;
    border: solid 1px lightseagreen;
    border-radius: 5px;
    margin-right: 0.3em;
    margin-left: 0.3em;
    display: inline-block;
    position: absolute;
}
.highlight.hover {
    background-color: lightblue;
    padding: 0 0.3em;
    border: solid 1px lightseagreen;
    border-radius: 5px;
}

.rdfazer-dialog-tabs {
    border: none;
}
div#rdfazerdialog {
    padding: 0;
}
#rdfazerdialog div.rdfazer-dialog-tabs > div {
    padding: 1em 0;
}

#rdfazerdialog .rdfazer-searchresult {
    border: solid 1px lightblue;
    background-color: aliceblue;
    padding: 0.3em;
    border-radius: 0.3em;
    margin: 0.5em 0;
}
#rdfazerdialog .hidden, #rdfazerInterface .hidden {
    display:none !important;
}

#rdfazerdialog .rdfazer-searchresult-head input[type="checkbox"] {
    height: 1em;
    position: absolute;
    width: 1em;
    right: 0px;
    margin: 0;
}
#rdfazerdialog .rdfazer-searchresult-head {
    position: relative;
}
#rdfazerdialog .searchresult-body {
    border: solid lightblue;
    border-width: 1px 0 0 0;
}
#rdfazerdialog .searchresult-body div {
    margin: 0.3em 0;
}
#rdfazerdialog .searchresult-body span:first-child {
    font-weight: bold;
    margin-right: 0.3em;
}
#rdfazerdialog input.text.ui-widget-content.ui-corner-all {
    padding-left: 0.3em;
}
a.highlight[title='unknown'], a.highlight.unknown {
    color:red;
}


.rdfazerdialogwrap .rdfazer-dialog-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    z-index:100001;
}
.rdfazerdialogwrap .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    border: none;
    border-radius: 0;
    text-align: right;
}
div.rdfazerdialogwrap {
    text-align:left !important;
    font-size:16px !important;
    font-family: arial;
    -webkit-user-select: none;
    user-select: none;
}

.rdfazerdialogwrap .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    width: 70%;
    z-index: 100002;
    background: none;
}


.rdfazerdialogwrap .rdfazer-dialog-tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
    padding-bottom: 50px;
}
#rdfazerdialog .search-results-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 115px;
    box-sizing: border-box;
    overflow: hidden;
}
#rdfazerdialog .search-results {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
#rdfazerdialog .search-results-wrap > label {
    position: absolute;
}
#rdfazerdialog div.searchbuttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
#rdfazerdialog .search-container {
    height: 100%;
    position: relative;
    overflow: auto;
}
#rdfazerdialog .buttons {
    z-index: 100;
    position: relative;
}
#rdfazerdialog .ui-tabs .ui-tabs-nav {
    position: relative;
    z-index: 100;
}
#rdfazerdialog .searchloading {
    position: absolute;
    right: 0.1em;
    width: 2em;
    height: 2em;
    background-image: url("lib/images/loading.gif");
    margin-right: 0.1em;
    background-size: 100% 100%;
}
div#rdfazer-manual {
    position: absolute;
    height: 100%;
    padding-top: 50px !important;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
#rdfazerdialog .manual-wrap {
    height: 100%;
    position: relative;
    overflow: auto;
}

.rdfazermessage {
    width:100%;
    padding: 1em 0;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    margin-top: -3em;
    background-color: lightyellow;
    -webkit-transition: margin-top 1s, opacity 2s;     
    transition: margin-top 1s, opacity 2s;
    white-space: pre-wrap;
}
.rdfazermessage-content {
    width: 960px;
    margin: 0 auto;
}
.rdfazermessage.error {
    background-color:pink;
}
.rdfazermessage.open {
    margin-top: 0;
}
.rdfazermessage.fade {
    opacity: 0;
}

#rdfazer-settings .input > * {
    display: block; width: 100%; 
}
#rdfazer-settings .input > input {
    padding: 0 0.3em;
}
#rdfazer-settings .prop > * {
    width: 100%;
}
.rdfazer-new-configwrap input {
    width: 100%;
}

select.rdfazer-configs {
}
.rdfazer-new-configwrap span.label {
    padding-right: 0.3em;
}

.rdfazer-settings span.toggle:before {
    float: left;
    content: "\25BA";
    display: block;
    width: 1em;
    height: 1em;
    margin: 0.3em;
    font-family: Arial;
}
.rdfazer-settings .specs .open span.toggle:before {
    content: "\25BC";
}
.rdfazer-settings h2 {
    font-family: Arial;
    margin: 0.3em;
}

.rdfazer-settings .storedInfoExtraWrap, .rdfazer-settings .configspecs {
    display:none;
}
.rdfazer-settings .open .storedInfoExtraWrap, .rdfazer-settings .open .configspecs {
    display:block;
}

#rdfazer-settings span.remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    background-image: url("/lib/images/close.png");
    background-size: 100% 100%;
    cursor:pointer;
    cursor:hand;
}
#rdfazer-settings .prop {
    position: relative;
}
#rdfazer-settings span.remove:hover {
    top: 1px;
    right: -1px;
}
#rdfazer-settings .prop.error textarea {
    border:solid 2px red;
}

.rdfazer-new-stored-info-dialog span.label {
    margin-right: 0.3em;
}
input.rdfazer-new-config-text {
    display: block;
    width: 100%;
}